<!DOCTYPE html>

<html lang="en">

<head>
    <!-- http://getbootstrap.com/ -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />

    <link href="{{ url_for('static', filename='css/theme.min.css') }}" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta content="initial-scale=1, width=device-width" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Twitter Senti</title>
</head>

<body>

    <div class="navbar navbar-default sticky-top">
        <div class="container">
            <div class="navbar-header pull-left">
                <a href="/" target="_top" class="navbar-brand">Twitter Senti</a>
            </div>
        </div>
    </div>

    <div class="container">

        <h2><small>{% block subtext %}{% endblock %}</small></h2>

        {% block body %}{% endblock %}

        <div class="page-footer" style="margin: 20px">
            Made with <i class="glyphicon glyphicon-heart"></i> and <i class="glyphicon glyphicon-music"></i> by <a href="https://github.com/shovanch"> Shovan</a>.
        </div>
    </div>
</body>

</html>
